* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  color: white;
}
 nav li {
   margin: 0 1rem;
 }

 .App-header section {
   position: absolute;
   bottom: 2rem;
   right: 2rem;
   width: 25rem;
 }

 .nav-links {
   align-items: center;
 }

@import url('./utilities.css');
