.d-flex {
    display: flex;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 13rem;
    height: 3rem;
    border-radius: 5rem;
    background-color: white;
    color: black;
    text-decoration: none;
    align-items: center;
    line-height: 3rem;
}

.btn:active {
    border: 2px solid black;
}